In [1]:
import pandas as pd
df = pd.read_csv("data.txt",sep='\t')
df.head()

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority,jobcat_name
0,1,m,2/3/1952,15,3,57000,27000,98,144,0,Manager
1,2,m,5/23/1958,16,1,40200,18750,98,36,0,Clerical
2,3,f,7/26/1929,12,1,21450,12000,98,381,0,Clerical
3,4,f,4/15/1947,8,1,21900,13200,98,190,0,Clerical
4,5,m,2/9/1955,15,1,45000,21000,98,138,0,Clerical

In [2]:
df[['jobcat_name','prevexp']].groupby('jobcat_name').mean()

                prevexp
jobcat_name
Clerical      85.038567
Custodial    298.111111
Manager       77.619048

In [3]:
mgr = df[df.jobcat_name=='Manager']['prevexp']
cle = df[df.jobcat_name=='Clerical']['prevexp']
cust = df[df.jobcat_name=='Custodial']['prevexp']

In [4]:
from scipy import stats
f_statistic, p_value = stats.f_oneway(mgr, cle, cust)
print("F_Statistic: {0}, P-Value: {1}".format(f_statistic,p_value))

F_Statistic: 69.19167101209159, P-Value: 4.515360685161322e-27

In [5]:
from statsmodels.formula.api import ols
model_name = ols('prevexp ~ C(jobcat_name)', data=df).fit()
model_name.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                prevexp   R-squared:                       0.227
Model:                            OLS   Adj. R-squared:                  0.224
Method:                 Least Squares   F-statistic:                     69.19
Date:                Fri, 11 Mar 2022   Prob (F-statistic):           4.52e-27
Time:                        13:16:41   Log-Likelihood:                -2815.1
No. Observations:                 474   AIC:                             5636.
Df Residuals:                     471   BIC:                             5649.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                      85.0386      4.836     17.584      0.000      75.535      94.542
C(jobcat_name)[T.Custodial]   213.0725     18.380     11.592      0.000     176.955     249.190
C(jobcat_name)[T.Manager]      -7.4195     11.156     -0.665      0.506     -29.342      14.503
==============================================================================
Omnibus:                      133.381   Durbin-Watson:                   1.817
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              277.084
Skew:                           1.525   Prob(JB):                     6.79e-61
Kurtosis:                       5.175   Cond. No.                         4.46
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""